---
export const prerender = false;

import type { Dictionary } from "@shared";
import { Belief } from "@shared";

import AdditionalInfoQuestion from "../components/AdditionalInfoQuestion.astro";
import BeliefQuestion from "../components/BeliefQuestion.astro";
import NameQuestion from "../components/NameQuestion.astro";
import SexQuestion from "../components/SexQuestion.astro";

const URL = "http://localhost:3000/beliefs";
const response = await fetch(URL);
const beliefsDictionary: Dictionary<string, Belief[]> = await response.json();
---

<div>
  <h1>Questions</h1>
  <form action="/Results" method="POST">
    <NameQuestion />
    <SexQuestion />
    <AdditionalInfoQuestion />
    {
      Object.keys(beliefsDictionary).map((key: string) => {
        const beliefs: Belief[] = beliefsDictionary[key];
        return <BeliefQuestion topic={key} beliefs={beliefs} />;
      })
    }
    <input type="submit" value="Submit" />
  </form>
</div>

<script type="module">
  window.addEventListener("load", () => {
    const form = document.querySelector("form");
    const form_elements = form.elements;

    for (let el of form_elements) {
      if (!el.type === "hidden") {
        continue;
      }
      let description = sessionStorage.getItem(el.id);
      if (description) {
        el.value = JSON.parse(description).value;
      }
    }
  });

  document.querySelector("form").addEventListener("change", (event) => {
    const input_element = event.target;
    if (input_element.type !== "radio") {
      return;
    }
    const name = input_element.name;
    const hidden_description_id = `${name}-description`;
    const description = document.getElementById(hidden_description_id).value;

    sessionStorage.setItem(
      hidden_description_id,
      JSON.stringify({ value: description }),
    );
  });
</script>
