<div class="additional-info-question">
  <label for="additional-info">
    <h2>Is there anything more you'd like to say about yourself?</h2>
    <textarea
      id="additional-info"
      name="additional-info"
      placeholder="Your additional information..."></textarea>
  </label>
</div>
