<div class="sex-question">
  <h2>What is your sex?</h2>
  <div>
    <label for="male-input">
      Male
      <input
        id="male-input"
        type="radio"
        name="sex"
        value="male"
      />
    </label>
    <label for="female-input">
      female
      <input
        id="female-input"
        name="sex"
        type="radio"
        value="female"
      />
    </label>
  </div>
</div>
